:root {
  --dark: #432424;
  --light: #f0c851;
  --green: green;
  --blue: rgb(74, 74, 160);
  --gradient: linear-gradient(90deg, var(--light), var(--green));
  --gradient2: linear-gradient(270deg, var(--light), var(--green));
  --gradient3: linear-gradient(135deg, var(--blue), var(--green));
}