.header {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;

  &-container {
    background: var(--gradient);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  &__title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
  }

  &__nav {
    display: flex;
    max-width: 600px;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .nav {
    &__btn {
      padding: 15px 0;
      border: none;
      background-color: transparent;
      font-size: 20px;
      color: #fff;
      cursor: pointer;

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
}