<div class="header-container">
  <div class="container">
    <div class="header">
      <div class="header__title">Logo</div>
      <nav class="header__nav">
        <button class="nav__btn _btn" data-btn="home">Главная</button>
        <button class="nav__btn _btn" data-btn="products">Товары</button>
        <button class="nav__btn _btn" data-btn="contacts">Контакты</button>
        <button class="nav__btn _btn" data-btn="about">О нас</button>
        <button class="nav__btn _resize">
          <img src="max-size.svg" alt="max">
        </button>
      </nav>
      <div class="header__overlay"></div>
      <div class="header__btn">
        <div>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</div>